header.header
    .container
        .header__inner
            button.hamburger.hamburger--arrowalt(type='button')
                span.hamburger-box
                    span.hamburger-inner
            nav.header__menu
                ul.header__menu-list
                    li.header__menu-item
                        a(href="#").header__menu-link Главная
                    li.header__menu-item
                        a(href="#").header__menu-link Новости
                    li.header__menu-item
                        a(href="#").header__menu-link Инструкция
                    li.header__menu-item
                        a(href="#").header__menu-link FAQ
                    li.header__menu-item
                        a(href="#").header__menu-link Отзывы
                    li.header__menu-item
                        a(href="#").header__menu-link Главная
                    li.header__menu-item.header__menu-item--color-grayish-purple
                        a(href="#").header__menu-link.header__menu-link--size-small Благотворительность
            .header__group
                a(href="#").header__group-link Войти
                a(href="#").header__group-link Регистрация