block variables

.breadcrumbs
    .container
        ul.breadcrumbs__list(data-simplebar)
            if(!breadcrumbsItem)
                li.breadcrumbs__list-item
                    a(href="#").breadcrumbs__list-link Главная
                li.breadcrumbs__list-item #{breadcrumbsTitle}
            else
                li.breadcrumbs__list-item
                    a(href="#").breadcrumbs__list-link Главная
                li.breadcrumbs__list-item
                    a(href="#").breadcrumbs__list-link #{breadcrumbsTitle}
                li.breadcrumbs__list-item #{breadcrumbsItem}