nav.menu(data-simplebar)
    .menu__top
        +icon('arrow-left', 'menu__icon')
        a(href="#").menu__link.btn Играть
    ul.menu__list
        li.menu__list-item
            a(href="/profile.html").menu__list-link Профиль
        li.menu__list-item
            a(href="/balance.html").menu__list-link Баланс
        li.menu__list-item
            a(href="/feed.html").menu__list-link Стена
        li.menu__list-item
            a(href="/friends.html").menu__list-link Друзья
        li.menu__list-item
            a(href="#" data-count='18').menu__list-link.menu__list-link--count Сообщения
        li.menu__list-item
            a(href="#").menu__list-link Подарки
        li.menu__list-item
            a(href="#").menu__list-link Биржа опыта
        li.menu__list-item
            a(href="#").menu__list-link Бонус
        li.menu__list-item
            a(href="/top-100.html").menu__list-link Топ 100
        li.menu__list-item
            a(href="#").menu__list-link История
        li.menu__list-item
            a(href="/index.html").menu__list-link Выход
