nav.menu
    .menu__top
        +icon('arrow-left', 'menu__icon')
        a(href="#").menu__link.btn Играть
    ul.menu__list
        li.menu__list-item
            a(href="#").menu__list-link Пользовательское соглашение
        li.menu__list-item
            a(href="#").menu__list-link Топ 100
        li.menu__list-item
            a(href="#").menu__list-link Последние выплаты
        li.menu__list-item
            a(href="#" data-count='18').menu__list-link.menu__list-link--count Контакты