block variables
.info-user(class=userInfo)
    .info-user__top
        .info-user__userpic(data-level="55")
            img(src="static/images/common/logo-user.png" alt="пользователь").info-user__userpic-image
        .info-user__box
            a(href="#").info-user__name Rick Deckard
            span.info-user__subtitle.subtitle Добро пожаловать!
    .info-user__statistics
        .info-user__progress(data-percentage="92%")
            .info-user__progress-holder
                span.info-user__statistics-title Опыт
                .info-user__statistics-count(data-count-after="1 988" data-count-before=" / 2 510")
            .info-user__progress-outer
                span.info-user__progress-content.info-user__progress-content--color-blue
        .info-user__progress(data-percentage="100%")
            .info-user__progress-holder
                span.info-user__statistics-title Энергия
                .info-user__statistics-count(data-count-after="" data-count-before="49735")
            .info-user__progress-outer
                span.info-user__progress-content.info-user__progress-content--color-red
    .info-user__payment
        .info-user__payment-row
            span.info-user__payment-title Оплата
            span.info-user__payment-price 43 648 ₽
        .info-user__payment-row
            span.info-user__payment-title Вывод
            span.info-user__payment-price 50 000 ₽