block variables
    -var breadcrumbsTitle = 'Новости'
    -var breadcrumbsItem = 'A Blood Black Began to Spin, Let’s Move'
.blog__content
    p.blog__desc Is there anything in your body that wants to resist the system? System. Do you get pleasure out of being a part of the system? System.
    h3.blog__content-title.title.title--size-medium Is that an old fashioned word?
    h4.blog__content-subtitle Do they keep you in a cell?
    p.blog__text A merry little surge of electricity piped by automatic alarm from the mood organ beside his bed awakened Rick Deckard. Surprised — it always surprised him to find himself awake without prior notice — he rose from the bed, stood up in his multicolored pajamas, and stretched. Now, in her bed, his wife Iran opened her gray, unmerry eyes, blinked, then groaned and shut her eyes again.
    p.blog__text After a hurried breakfast — he had lost time due to the discussion with his wife — he ascended clad for venturing out, including his Ajax model Mountibank Lead Codpiece, to the covered roof pasture whereon his electric sheep "grazed." Whereon it, sophisticated piece of hardware that it was, chomped away in simulated contentment, bamboozling the other tenants of the building.
    figure.blog__content-figure
        img(src="static/images/content/blog/blog-image-1.jpg").blog__content-image
        figcaption.blog__content-tagline.subtitle Caption Placeholder
    h4.blog__content-subtitle What was your most shameful moment?
    ul.blog__content-list
        li.blog__content-item <span class="blog__content-count">1.</span> Without his parents’ consent they — the killers — had bombarded the unique nodule which had formed in his brain, had attacked it with radioactive cobalt.
        li.blog__content-item <span class="blog__content-count">2.</span> It had been a pit of corpses and dead bones and he had struggled for years to get up from it. The donkey and especially the toad, the creatures most important to him, had vanished, had become extinct; only rotting fragments, an eyeless head here.
        li.blog__content-item <span class="blog__content-count">3.</span> The donkey and especially the toad, the creatures most important to him, had vanished, had become extinct; only rotting fragments.
    .blog__box
        span.blog__box-title System
        span.blog__box-text Without his parents’ consent they — the killers — had bombarded the unique nodule which had formed in his brain, had attacked it with radioactive cobalt.
    h2.blog__content-title.title.title--size-medium A blood black nothingness
    h4.blog__content-subtitle What was your most shameful moment?
    ul.blog__content-list
        li.blog__content-item <span class="blog__content-ellipse"></span> Without his parents’ consent they — the killers — had bombarded the unique nodule which had formed in his brain, had attacked it with radioactive cobalt.
        li.blog__content-item <span class="blog__content-ellipse"></span> It had been a pit of corpses and dead bones and he had struggled for years to get up from it. The donkey and especially the toad, the creatures most important to him, had vanished, had become extinct; only rotting fragments, an eyeless head here.
        li.blog__content-item <span class="blog__content-ellipse"></span> The donkey and especially the toad, the creatures most important to him, had vanished, had become extinct; only rotting fragments.
    .blog__bottom
        a(href="#").blog__bottom-link Ко всем новостям
        .blog__bottom-socials
            span.blog__bottom-text Поделиться
            a(href="#").blog__bottom-icon.icon-instagram
            a(href="#").blog__bottom-icon.icon-facebook
            a(href="#").blog__bottom-icon.icon-twitter