.friends__inner
    .friends__col.box.friends__col--block
        .box__top
            h3.box__title Рекламные материалы
            span.info-icon(data-tippy-content="<span class='tooltip'>Лучше получать по&nbsp;1% от&nbsp;усилий 100&nbsp;человек,\n" +
            "                чем 100% только от&nbsp;своих собственных усилий.\n" +
            "                J.&nbsp;Paul&nbsp;Getty</span>")
                +icon('info')
        .box__main
            .box__main-col
                span.box__main-subtitle Ссылка для привлечения друзей
                input(type="text" required value="https://farmhouse.pro/?ref-id=98").box__input.box__input--value.input.js-copy
            .box__main-col
                span.box__main-subtitle Для привлечения с odnoklassniki.ru
                input(type="text" required value="https://farmhouse.pro/?ref-id=98").box__input.box__input--value.input.js-copy
    .friends__col
        img(src="static/images/common/user-3.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Julian Gruber
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-4.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Ahmad Nazeri
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-5.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Cao Yu
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-6.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Cao Yu
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-7.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Alex Edwards
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-8.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Cao Yu
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-9.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Cao Yu
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-10.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Sofie Hubert
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-11.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Kita Chihoko
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-12.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Cao Yu
            span.friends__col-level.subtitle Уровень 23
    .friends__col
        img(src="static/images/common/user-13.png").friends__col-user
        .friends__col-icons
            a(href="#").friends__col-link
                +icon('present', 'friends__col-icon')
            a(href="#").friends__col-link
                +icon('envelope', 'friends__col-icon')
        .friends__col-info
            a(href="#").friends__col-name.subtitle.subtitle--color-white.subtitle--size-small Cao Yu
            span.friends__col-level.subtitle Уровень 23