block variables
    -var breadcrumbsTitle = 'Новости'
.news__inner
    include ../modules/news/news-prev
    include ../modules/news/news-prev
    include ../modules/news/news-prev
    include ../modules/news/news-prev
    include ../modules/news/news-prev
    include ../modules/news/news-prev
    include ../modules/news/news-prev
    include ../modules/news/news-prev
