block variables
    -var userInfo = 'slider__info-user'
section.slider
    .container
        .slider__header
            .slider__header-preview(style="background-image: url(static/images/content/slider/slider-preview-image.jpg)")
                h1.slider__title Фермерский дом
                button(type="button").slider__btn
                    span.slider__btn-icon
                        +icon('play')
                    span.slider__btn-text.subtitle Смотреть <br> видео
                a(href="#").slider__link.btn Начать игру
            include ../modules/user-info
        .slider__body
            .slider__body-row
                .slider__body-col.slider__body-col--color-orange
                    span.slider__body-subtitle.subtitle Старт игры
                    span.slider__body-number 21.05.2018
                .slider__body-col.slider__body-col--color-green
                    span.slider__body-subtitle.subtitle Резерв выплат
                    span.slider__body-number(data-prefix="₽") 78 278
                .slider__body-col.slider__body-col--color-blue
                    span.slider__body-subtitle.subtitle Резерв ярмарки
                    span.slider__body-number(data-prefix="₽") 78 278
                .slider__body-col.slider__body-col--color-yellow
                    span.slider__body-subtitle.subtitle Выплачено
                    span.slider__body-number(data-prefix="₽") 389
        .slider__footer
            ul.slider__footer-list
                li.slider__footer-item.slider__footer-item--current
                    a(href="javascript:void(0)" data-id="1").slider__footer-link Куплено сегодня
                li.slider__footer-item
                    a(href="javascript:void(0)" data-id="2").slider__footer-link Куплено
                li.slider__footer-item
                    a(href="javascript:void(0)" data-id="3").slider__footer-link Статистика покупок
            .slider__footer-content.slider__footer-content--active(data-content-id="1")
                .slider__footer-row
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Полей
                        span.slider__footer-number 49 77611
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов кур
                        span.slider__footer-number 7 567
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов бычков
                        span.slider__footer-number 4 838
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов коз
                        span.slider__footer-number 2 496
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов коров
                        span.slider__footer-number 1 780
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика теста
                        span.slider__footer-number 274
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика фарша
                        span.slider__footer-number 181
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика сыра
                        span.slider__footer-number 131
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика творога
                        span.slider__footer-number 77
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с мясом
                        span.slider__footer-number 90
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с сыром
                        span.slider__footer-number 43
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с творогом
                        span.slider__footer-number 29
            .slider__footer-content(data-content-id="2")
                .slider__footer-row
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Полей
                        span.slider__footer-number 49 77622
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов кур
                        span.slider__footer-number 7 567
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов бычков
                        span.slider__footer-number 4 838
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов коз
                        span.slider__footer-number 2 496
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов коров
                        span.slider__footer-number 1 780
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика теста
                        span.slider__footer-number 274
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика фарша
                        span.slider__footer-number 181
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика сыра
                        span.slider__footer-number 131
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика творога
                        span.slider__footer-number 77
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с мясом
                        span.slider__footer-number 90
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с сыром
                        span.slider__footer-number 43
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с творогом
                        span.slider__footer-number 29

            .slider__footer-content(data-content-id="3")
                .slider__footer-row
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Полей
                        span.slider__footer-number 49 7733
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов кур
                        span.slider__footer-number 7 567
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов бычков
                        span.slider__footer-number 4 838
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов коз
                        span.slider__footer-number 2 496
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Загонов коров
                        span.slider__footer-number 1 780
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика теста
                        span.slider__footer-number 274
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика фарша
                        span.slider__footer-number 181
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика сыра
                        span.slider__footer-number 131
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Фабрика творога
                        span.slider__footer-number 77
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с мясом
                        span.slider__footer-number 90
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с сыром
                        span.slider__footer-number 43
                    .slider__footer-col
                        span.slider__footer-subtitle.subtitle Пекарней с творогом
                        span.slider__footer-number 29