.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 0.4;
    margin: 0 4px;
    &--current {
      background-color: rgba(255, 255, 255, 0.06);
      opacity: 1;
    }
  }
  &__icon {
    &--left {
      transform: rotate(180deg);
    }
  }
}
@media (max-width: 400px) {
  .pagination__link {
    width: 30px;
    height: 30px;
    margin: 0 2px;
  }
}