block variables
    -var breadcrumbsTitle = 'Техподдержка'
.support__inner
    .support__wrapper
        .support__main
            .support__box
                .support__row
                    .support__col
                        span.support__status
                    .support__col
                        span.support__text.support__text--id #416827
                    .support__col
                        span.support__text.support__text--name 777__mher__777
                    .support__col
                        span.support__text.support__text--subject Тема вопроса
                    .support__col
                        span.support__text.support__text--desc(title="A blood black nothingness began to spin") A blood black nothingness began to spin
                    .support__col
                        span.support__text.support__text--day Апр 1
                    .support__col
                        a(href="#").support__link
                            +icon('arrow-right', 'support__link-icon')
                .support__row
                    .support__col
                        span.support__status
                    .support__col
                        span.support__text.support__text--id #4168
                    .support__col
                        span.support__text.support__text--name Chanse512
                    .support__col
                        span.support__text.support__text--subject Тема вопроса
                    .support__col
                        span.support__text.support__text--desc A blood black nothingness began to spin
                    .support__col
                        span.support__text.support__text--day Апр 25
                    .support__col
                        a(href="#").support__link
                            +icon('arrow-right', 'support__link-icon')
                .support__row
                    .support__col
                    .support__col
                        span.support__text.support__text--id #4168
                    .support__col
                        span.support__text.support__text--name Chanse512
                    .support__col
                        span.support__text.support__text--subject Тема вопроса
                    .support__col
                        span.support__text.support__text--desc A blood black nothingness began to spin
                    .support__col
                        span.support__text.support__text--day Апр 25
                    .support__col
                        a(href="#").support__link
                            +icon('arrow-right', 'support__link-icon')
                .support__row
                    .support__col
                    .support__col
                        span.support__text.support__text--id #4168
                    .support__col
                        span.support__text.support__text--name Chanse512
                    .support__col
                        span.support__text.support__text--subject Тема вопроса
                    .support__col
                        span.support__text.support__text--desc A blood black nothingness began to spin
                    .support__col
                        span.support__text.support__text--day Апр 25
                    .support__col
                        a(href="#").support__link
                            +icon('arrow-right', 'support__link-icon')
                .support__row
                    .support__col
                    .support__col
                        span.support__text.support__text--id #4168
                    .support__col
                        span.support__text.support__text--name Chanse512
                    .support__col
                        span.support__text.support__text--subject Тема вопроса
                    .support__col
                        span.support__text.support__text--desc A blood black nothingness began to spin
                    .support__col
                        span.support__text.support__text--day Апр 25
                    .support__col
                        a(href="#").support__link
                            +icon('arrow-right', 'support__link-icon')

    .pagination.support__pagination
        a(href="#").pagination__link
            +icon('arrow-right', 'pagination__icon pagination__icon--left')
        a(href="#").pagination__link.pagination__link--current 1
        a(href="#").pagination__link 2
        a(href="#").pagination__link 3
        a(href="#").pagination__link 4
        a(href="#").pagination__link 5
        a(href="#").pagination__link
            +icon('arrow-right', 'pagination__icon pagination__icon--right')