extends layout/office

block variables
    -var title = 'Подарки'
block content
    section.gifts.office-section
        .container
            .gifts__top
                h2.title.title--size-medium.gifts__title Подарки
                    span.info-icon.gifts__top-icon(data-tippy-content="<span class='tooltip'>Отправка подарка снимает 50 ед. энергии</span>")
                        +icon('info')
                .gifts__group
                    a(href="#").gifts__group-link.link.link--size-small Полученные подарки
                    a(href="#").gifts__group-link.link.link--size-small.link--color-transparent Отправленные подарки
            .gifts__items
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                      a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                      span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
                .gifts__item
                    img(src="static/images/content/slider/slider-preview-image.jpg").gifts__item-image
                    .gifts__item-info
                        a(href="#").subtitle.subtitle--size-small.subtitle--color-white.gifts__item-name Gift Name
                        span.subtitle.gifts__item-text Svyatoslav Taushev
            button.gifts__btn.link.link--size-small.link--color-white Показать больше