extends layout/office

block variables
    -var title = 'История'
block content
    section.history.office-section
        .container
            .history__top.history__top--flex-top
                h2.title.title--size-medium.history__title История
                nav.history__menu
                    ul.history__menu-list
                        li.history__menu-item
                            a(href="#").history__menu-link.link Вход в аккаунт
                        li.history__menu-item
                            a(href="#").history__menu-link.link.link--color-transparent Пополнение
                        li.history__menu-item
                            a(href="#").history__menu-link.link.link--color-transparent Переводы
                        li.history__menu-item
                            a(href="#").history__menu-link.link.link--color-transparent Обмены
                        li.history__menu-item
                            a(href="#").history__menu-link.link.link--color-transparent Выводы
                        li.history__menu-item
                            a(href="#").history__menu-link.link.link--color-transparent Партнерская программа
                        li.history__menu-item
                            a(href="#").history__menu-link.link.link--color-transparent Покупки
            .history__box(data-simplebar).box.box--size-big.box--padding
                .box__top
                    h2.box__title Переводы средств
                table.history__table.table.table--transparent
                    thead.table__head
                        tr.table__head-row
                            td.table__head-title.table__head-title--border
                                span.table__head-text Кому
                            td.table__head-title.table__head-title--border
                                span.table__head-text Дата
                            td.table__head-title.table__head-title--border
                                span.table__head-text Сумма
                    tbody.table__body
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650
                        tr.table__body-row.table__body-row--link.table__body-row--nowrap(data-href="https://vk.com/im")
                            td.table__body-col
                                span.table__body-text Santiago Valentín
                            td.table__body-col
                                span.table__body-text.table__body-text--color-gray 01:02:05 24:08:2019
                            td.table__body-col
                                span.table__body-number.table__body-number--color-gray 13 650