extends layout/office

block variables
    -var title = 'Профиль'
block content
    section.profile.office-section
        .container
            h2.title.statistics__title Профиль
            include pages/profile