a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
button {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
}
li {
  display: inline-block;
}