// Colors
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #342643;
  --color-grayish-purple: #423450;
  --color-red: #FF005B;
}
// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1110px;

// Fonts
