block variables
    -var breadcrumbsTitle = 'Инструкция'

ul.instruction__list
    li.instruction__list-item.instruction__list-item--current
        a(href="javascript:void(0)" data-id="1").instruction__list-link.link.link--size-small.link--color-transparent Начинаем играть
    li.instruction__list-item
        a(href="javascript:void(0)" data-id="2").instruction__list-link.link.link--size-small.link--color-transparent Животные и загоны
    li.instruction__list-item
        a(href="javascript:void(0)" data-id="3").instruction__list-link.link.link--size-small.link--color-transparent Фабрики
    li.instruction__list-item
        a(href="javascript:void(0)" data-id="4").instruction__list-link.link.link--size-small.link--color-transparent Пекарни
    li.instruction__list-item
        a(href="javascript:void(0)" data-id="5").instruction__list-link.link.link--size-small.link--color-transparent Поля
    li.instruction__list-item
        a(href="javascript:void(0)" data-id="6").instruction__list-link.link.link--size-small.link--color-transparent Ярмарка и склад
    li.instruction__list-item
        a(href="javascript:void(0)" data-id="7").instruction__list-link.link.link--size-small.link--color-transparent Партнерская программа
.prejudice.instruction__prejudice
    +icon('warning', 'prejudice__icon')
    span.prejudice__text Внимание! В нашей игре, вы можете делать сбор в любое удобное для вас время. <br> У нас нет жёсткой привязки по времени!
.instruction__content.instruction__content--active(data-content-id="1")
    h3.instruction__content-title.title.title--size-small Название игры
    p.instruction__text Экономическая онлайн игра, прибыль в которой зависит от выбранной вами стратегии развития! Уйти в минус в игре невозможно, но от того как благоразумно <br> вы будете вести своё фермерское хозяйство, зависит как быстро вы начнёте получать прибыль и какого размера будет ваша прибыль!
        | <br><br> После регистрации, вы получаете подарки на общую сумму в 23 рубля, а именно:
        | <br> 1 поле для засева корма, загон кур и 100 ед. энергии. Для перехода на следующий уровень, вам нужно набирать опыт. Опыт в игре, вы получаете за покупку животных на ярмарке, за кормление животных и сбор продукции, за запуск фабрик, пекарен
        | <br> и сбор полуфабрикатов и пирогов, а также на бирже опыта, вы можете обменять продукты на опыт. Чтобы производить все эти действия, вам необходима энергия, пополнить энергию, вы можете в "Пироговой", съев несколько пирогов, пироговая находится на ярмарке.
    h3.instruction__content-title.title.title--size-small Пополнение баланса
    p.instruction__text  Чтобы начать играть, вам необходимо пополнить свой баланс. Для внесения денежных средств перейдите по вкладке Баланс → Пополнить. В игре существует два вида баланса. Введённые в игру деньги поступают на Баланс для оплаты. Ваша прибыль полученная в ходе игры, поступает на баланс для вывода, вы можете вывести эти деньги или реинвестировать обменяв их в Баланс → Обменный пункт. Предоставлено множество способов для пополнения и вывода баланса. Выбирайте платёжную систему, в которой комиссия за ваш перевод будет меньше всего.
        | В системах Free-Kassa и Mykassa предоставлено множество вариантов для пополнения. Пополнить баланс, можно абсолютно всеми популярными способами: W1, Bitcoin, OOOPAY, Perfect Money, ZPayment, Visa, MasterCard/Maestro, МТС, Билайн, ТЕЛЕ2, Сбербанк, ВТБ 24, Тинькофф, и т.д. Также, обращаем ваше внимание на то,
        | <br> что мы можем провести ручное пополнение через Qiwi, чтобы вы не теряли комиссию, если сумма вашего пополнения от 2000 рублей и выше. Для ручного пополнения свяжитесь с администрацией, более подробно об этом написано
        | <br> на странице пополнения. <br> <br>
        | Обязательно посетите раздел F.A.Q. Из него вы узнаете как можно заработать без пополнения своего баланса, а также найдёте ответы на самые частые вопросы.
.instruction__content(data-content-id="2")
    h3.instruction__content-title.title.title--size-small Животные
    p.instruction__text В игре существует 4 вида животных: куры, бычки, козы и коровы. Каждое животное имеет свою стоимость и свой уровень доступности. Животных нужно кормить и собирать 1 раз в день, в любое удобное для вас время. За 1 сбор животное потребляет 2 ед. корма и даёт 2 ед. продукции. Одно животное даёт 60 ед. продукции, после чего покидает игру, на его место Вы можете посадить другое животное. Животных можно купить на ярмарке. Продукцию полученную с животных, вы можете продать на складе.
    h3.instruction__content-title.title.title--size-small Загоны
    p.instruction__text Загоны. Для каждого животного существует свой определённый загон. Загоны нужно покупать на ярмарке, затем вы сможете их построить на доступных полях. Загоны покупаются навсегда. <br><br>
        | Загон кур доступен с 1-го уровня, стоимость 20 руб. Стоимость курицы 5 руб. Куры потребляют пшеницу. За 1 сбор, вы получаете 2 ед. продукта, за 30 сборов, вы получаете 60 ед. продукта. Прибыль с 1-го загона в месяц 9 руб. Каждое кормление одной курицы забирает 5 ед. энергии и дает 2 ед. опыта. Каждый сбор продукта забирает 5 ед. энергии и дает 2 ед. опыта. Потребление энергии кнопкой автосбора: Каждое кормление забирает 5 ед. энергии. Каждый сбор продукта забирает 6 ед. энергии. <br><br>
        | Загон бычков доступен с 5-го уровня, стоимость 40 руб. Стоимость бычка 10 руб. Бычки потребляют клевер, за 1 сбор, вы получаете 2 ед. продукта, за 30 сборов, вы получаете 60 ед. продукта. Прибыль с 1-го загона в месяц 18 руб. Каждое кормление одного бычка забирает 6 ед. энергии и дает 2 ед. опыта. Каждый сбор продукта забирает 10 ед. энергии и дает 2 ед. опыта. Потребление энергии кнопкой автосбора: Каждое кормление забирает 7 ед. энергии. Каждый сбор продукта забирает 11 ед. энергии. <br><br>
        | Загон коз доступен с 10-го уровня, стоимость 60 руб. Стоимость козы 20 руб. Козы потребляют капусту, за 1 сбор, вы получаете 2 ед. продукта, за 30 сборов, вы получаете 60 ед. продукта. Прибыль с 1-го загона в месяц 27.9 руб. Каждое кормление одной козы забирает 7 ед. энергии и дает 2 ед. опыта. Каждый сбор продукта забирает 16 ед. энергии и дает 2 ед. опыта. Потребление энергии кнопкой автосбора: Каждое кормление забирает 8 ед. энергии. Каждый сбор продукта забирает 17 ед. энергии. <br><br>
        | Загон коров доступен с 15-го уровня, стоимость 150 руб. Стоимость коровы 50 руб. Коровы потребляют свеклу, за 1 сбор, вы получаете 2 ед. продукта, за 30 сборов, вы получаете 60 ед. продукта. Прибыль с 1-го загона в месяц 73.8 руб. Каждое кормление одной коровы забирает 10 ед. энергии и дает 2 ед. опыта. Каждый сбор продукта забирает 22 ед. энергии и дает 2 ед. опыта. Потребление энергии кнопкой автосбора: Каждое кормление забирает 11 ед. энергии. Каждый сбор продукта забирает 23 ед. <br>
    h3.instruction__content-title.title.title--size-small важные моменты
    p.instruction__text Учитывайте важные моменты! В игре существует 3 вида сбора и кормления: <br><br> 1) Ручной сбор первого типа - когда вы открываете загон и кликаете по каждому животному <br><br> 2) Ручной сбор второго типа - когда вы кликаете на загон и выбираете собрать/покормить <br>
        | <br> 3) Автоматический сбор - зелёные кнопки справа от полей, собрать и покормить, при помощи них вы собираете и кормите сразу все загоны, но за это взимается дополнительная энергия. <br><br>
        | Если вы, покупаете корм на ярмарке или выращиваете его с удобрениями, то ваша прибыль становится ниже. Если вы одновременно используете кнопку авто. сбора и покупаете корм на ярмарке или выращиваете его с удобрениями, ваша прибыль становится ниже!
.instruction__content(data-content-id="3")
    h3.instruction__content-title.title.title--size-small Название игры
    p.instruction__text Экономическая онлайн игра, прибыль в которой зависит от выбранной вами стратегии развития! Уйти в минус в игре невозможно, но от того как благоразумно <br> вы будете вести своё фермерское хозяйство, зависит как быстро вы начнёте получать прибыль и какого размера будет ваша прибыль!
        | <br><br> После регистрации, вы получаете подарки на общую сумму в 23 рубля, а именно:
        | <br> 1 поле для засева корма, загон кур и 100 ед. энергии. Для перехода на следующий уровень, вам нужно набирать опыт. Опыт в игре, вы получаете за покупку животных на ярмарке, за кормление животных и сбор продукции, за запуск фабрик, пекарен
        | <br> и сбор полуфабрикатов и пирогов, а также на бирже опыта, вы можете обменять продукты на опыт. Чтобы производить все эти действия, вам необходима энергия, пополнить энергию, вы можете в "Пироговой", съев несколько пирогов, пироговая находится на ярмарке.
    h3.instruction__content-title.title.title--size-small Пополнение баланса
    p.instruction__text  Чтобы начать играть, вам необходимо пополнить свой баланс. Для внесения денежных средств перейдите по вкладке Баланс → Пополнить. В игре существует два вида баланса. Введённые в игру деньги поступают на Баланс для оплаты. Ваша прибыль полученная в ходе игры, поступает на баланс для вывода, вы можете вывести эти деньги или реинвестировать обменяв их в Баланс → Обменный пункт. Предоставлено множество способов для пополнения и вывода баланса. Выбирайте платёжную систему, в которой комиссия за ваш перевод будет меньше всего.
        | В системах Free-Kassa и Mykassa предоставлено множество вариантов для пополнения. Пополнить баланс, можно абсолютно всеми популярными способами: W1, Bitcoin, OOOPAY, Perfect Money, ZPayment, Visa, MasterCard/Maestro, МТС, Билайн, ТЕЛЕ2, Сбербанк, ВТБ 24, Тинькофф, и т.д. Также, обращаем ваше внимание на то,
        | <br> что мы можем провести ручное пополнение через Qiwi, чтобы вы не теряли комиссию, если сумма вашего пополнения от 2000 рублей и выше. Для ручного пополнения свяжитесь с администрацией, более подробно об этом написано
        | <br> на странице пополнения. <br>
        | Обязательно посетите раздел F.A.Q. Из него вы узнаете как можно заработать без пополнения своего баланса, а также найдёте ответы на самые частые вопросы.
.instruction__content(data-content-id="4")
    h3.instruction__content-title.title.title--size-small Название игры
    p.instruction__text Экономическая онлайн игра, прибыль в которой зависит от выбранной вами стратегии развития! Уйти в минус в игре невозможно, но от того как благоразумно <br> вы будете вести своё фермерское хозяйство, зависит как быстро вы начнёте получать прибыль и какого размера будет ваша прибыль!
        | <br><br> После регистрации, вы получаете подарки на общую сумму в 23 рубля, а именно:
        | <br> 1 поле для засева корма, загон кур и 100 ед. энергии. Для перехода на следующий уровень, вам нужно набирать опыт. Опыт в игре, вы получаете за покупку животных на ярмарке, за кормление животных и сбор продукции, за запуск фабрик, пекарен
        | <br> и сбор полуфабрикатов и пирогов, а также на бирже опыта, вы можете обменять продукты на опыт. Чтобы производить все эти действия, вам необходима энергия, пополнить энергию, вы можете в "Пироговой", съев несколько пирогов, пироговая находится на ярмарке.
    h3.instruction__content-title.title.title--size-small Пополнение баланса
    p.instruction__text  Чтобы начать играть, вам необходимо пополнить свой баланс. Для внесения денежных средств перейдите по вкладке Баланс → Пополнить. В игре существует два вида баланса. Введённые в игру деньги поступают на Баланс для оплаты. Ваша прибыль полученная в ходе игры, поступает на баланс для вывода, вы можете вывести эти деньги или реинвестировать обменяв их в Баланс → Обменный пункт. Предоставлено множество способов для пополнения и вывода баланса. Выбирайте платёжную систему, в которой комиссия за ваш перевод будет меньше всего.
        | В системах Free-Kassa и Mykassa предоставлено множество вариантов для пополнения. Пополнить баланс, можно абсолютно всеми популярными способами: W1, Bitcoin, OOOPAY, Perfect Money, ZPayment, Visa, MasterCard/Maestro, МТС, Билайн, ТЕЛЕ2, Сбербанк, ВТБ 24, Тинькофф, и т.д. Также, обращаем ваше внимание на то,
        | <br> что мы можем провести ручное пополнение через Qiwi, чтобы вы не теряли комиссию, если сумма вашего пополнения от 2000 рублей и выше. Для ручного пополнения свяжитесь с администрацией, более подробно об этом написано
        | <br> на странице пополнения. <br> <br>
        | Обязательно посетите раздел F.A.Q. Из него вы узнаете как можно заработать без пополнения своего баланса, а также найдёте ответы на самые частые вопросы.
.instruction__content(data-content-id="5")
    h3.instruction__content-title.title.title--size-small Название игры
    p.instruction__text Экономическая онлайн игра, прибыль в которой зависит от выбранной вами стратегии развития! Уйти в минус в игре невозможно, но от того как благоразумно <br> вы будете вести своё фермерское хозяйство, зависит как быстро вы начнёте получать прибыль и какого размера будет ваша прибыль!
        | <br><br> После регистрации, вы получаете подарки на общую сумму в 23 рубля, а именно:
        | <br> 1 поле для засева корма, загон кур и 100 ед. энергии. Для перехода на следующий уровень, вам нужно набирать опыт. Опыт в игре, вы получаете за покупку животных на ярмарке, за кормление животных и сбор продукции, за запуск фабрик, пекарен
        | <br> и сбор полуфабрикатов и пирогов, а также на бирже опыта, вы можете обменять продукты на опыт. Чтобы производить все эти действия, вам необходима энергия, пополнить энергию, вы можете в "Пироговой", съев несколько пирогов, пироговая находится на ярмарке.
    h3.instruction__content-title.title.title--size-small Пополнение баланса
    p.instruction__text  Чтобы начать играть, вам необходимо пополнить свой баланс. Для внесения денежных средств перейдите по вкладке Баланс → Пополнить. В игре существует два вида баланса. Введённые в игру деньги поступают на Баланс для оплаты. Ваша прибыль полученная в ходе игры, поступает на баланс для вывода, вы можете вывести эти деньги или реинвестировать обменяв их в Баланс → Обменный пункт. Предоставлено множество способов для пополнения и вывода баланса. Выбирайте платёжную систему, в которой комиссия за ваш перевод будет меньше всего.
        | В системах Free-Kassa и Mykassa предоставлено множество вариантов для пополнения. Пополнить баланс, можно абсолютно всеми популярными способами: W1, Bitcoin, OOOPAY, Perfect Money, ZPayment, Visa, MasterCard/Maestro, МТС, Билайн, ТЕЛЕ2, Сбербанк, ВТБ 24, Тинькофф, и т.д. Также, обращаем ваше внимание на то,
        | <br> что мы можем провести ручное пополнение через Qiwi, чтобы вы не теряли комиссию, если сумма вашего пополнения от 2000 рублей и выше. Для ручного пополнения свяжитесь с администрацией, более подробно об этом написано
        | <br> на странице пополнения. <br> <br>
        | Обязательно посетите раздел F.A.Q. Из него вы узнаете как можно заработать без пополнения своего баланса, а также найдёте ответы на самые частые вопросы.
.instruction__content(data-content-id="6")
    h3.instruction__content-title.title.title--size-small Название игры
    p.instruction__text Экономическая онлайн игра, прибыль в которой зависит от выбранной вами стратегии развития! Уйти в минус в игре невозможно, но от того как благоразумно <br> вы будете вести своё фермерское хозяйство, зависит как быстро вы начнёте получать прибыль и какого размера будет ваша прибыль!
        | <br><br> После регистрации, вы получаете подарки на общую сумму в 23 рубля, а именно:
        | <br> 1 поле для засева корма, загон кур и 100 ед. энергии. Для перехода на следующий уровень, вам нужно набирать опыт. Опыт в игре, вы получаете за покупку животных на ярмарке, за кормление животных и сбор продукции, за запуск фабрик, пекарен
        | <br> и сбор полуфабрикатов и пирогов, а также на бирже опыта, вы можете обменять продукты на опыт. Чтобы производить все эти действия, вам необходима энергия, пополнить энергию, вы можете в "Пироговой", съев несколько пирогов, пироговая находится на ярмарке.
    h3.instruction__content-title.title.title--size-small Пополнение баланса
    p.instruction__text  Чтобы начать играть, вам необходимо пополнить свой баланс. Для внесения денежных средств перейдите по вкладке Баланс → Пополнить. В игре существует два вида баланса. Введённые в игру деньги поступают на Баланс для оплаты. Ваша прибыль полученная в ходе игры, поступает на баланс для вывода, вы можете вывести эти деньги или реинвестировать обменяв их в Баланс → Обменный пункт. Предоставлено множество способов для пополнения и вывода баланса. Выбирайте платёжную систему, в которой комиссия за ваш перевод будет меньше всего.
        | В системах Free-Kassa и Mykassa предоставлено множество вариантов для пополнения. Пополнить баланс, можно абсолютно всеми популярными способами: W1, Bitcoin, OOOPAY, Perfect Money, ZPayment, Visa, MasterCard/Maestro, МТС, Билайн, ТЕЛЕ2, Сбербанк, ВТБ 24, Тинькофф, и т.д. Также, обращаем ваше внимание на то,
        | <br> что мы можем провести ручное пополнение через Qiwi, чтобы вы не теряли комиссию, если сумма вашего пополнения от 2000 рублей и выше. Для ручного пополнения свяжитесь с администрацией, более подробно об этом написано
        | <br> на странице пополнения. <br> <br>
        | Обязательно посетите раздел F.A.Q. Из него вы узнаете как можно заработать без пополнения своего баланса, а также найдёте ответы на самые частые вопросы.
.instruction__content(data-content-id="7")
    h3.instruction__content-title.title.title--size-small Название игры
    p.instruction__text Экономическая онлайн игра, прибыль в которой зависит от выбранной вами стратегии развития! Уйти в минус в игре невозможно, но от того как благоразумно <br> вы будете вести своё фермерское хозяйство, зависит как быстро вы начнёте получать прибыль и какого размера будет ваша прибыль!
        | <br><br> После регистрации, вы получаете подарки на общую сумму в 23 рубля, а именно:
        | <br> 1 поле для засева корма, загон кур и 100 ед. энергии. Для перехода на следующий уровень, вам нужно набирать опыт. Опыт в игре, вы получаете за покупку животных на ярмарке, за кормление животных и сбор продукции, за запуск фабрик, пекарен
        | <br> и сбор полуфабрикатов и пирогов, а также на бирже опыта, вы можете обменять продукты на опыт. Чтобы производить все эти действия, вам необходима энергия, пополнить энергию, вы можете в "Пироговой", съев несколько пирогов, пироговая находится на ярмарке.
    h3.instruction__content-title.title.title--size-small Пополнение баланса
    p.instruction__text  Чтобы начать играть, вам необходимо пополнить свой баланс. Для внесения денежных средств перейдите по вкладке Баланс → Пополнить. В игре существует два вида баланса. Введённые в игру деньги поступают на Баланс для оплаты. Ваша прибыль полученная в ходе игры, поступает на баланс для вывода, вы можете вывести эти деньги или реинвестировать обменяв их в Баланс → Обменный пункт. Предоставлено множество способов для пополнения и вывода баланса. Выбирайте платёжную систему, в которой комиссия за ваш перевод будет меньше всего.
        | В системах Free-Kassa и Mykassa предоставлено множество вариантов для пополнения. Пополнить баланс, можно абсолютно всеми популярными способами: W1, Bitcoin, OOOPAY, Perfect Money, ZPayment, Visa, MasterCard/Maestro, МТС, Билайн, ТЕЛЕ2, Сбербанк, ВТБ 24, Тинькофф, и т.д. Также, обращаем ваше внимание на то,
        | <br> что мы можем провести ручное пополнение через Qiwi, чтобы вы не теряли комиссию, если сумма вашего пополнения от 2000 рублей и выше. Для ручного пополнения свяжитесь с администрацией, более подробно об этом написано
        | <br> на странице пополнения. <br> <br>
        | Обязательно посетите раздел F.A.Q. Из него вы узнаете как можно заработать без пополнения своего баланса, а также найдёте ответы на самые частые вопросы.