.header {
  flex: 0 0 auto;
  background-color: var(--color-bg);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 998;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__inner {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu{
    margin-left: 30px;
    margin-right: auto;
    &--center {
      margin-left: -90px;
      margin-right: 0;
    }
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      margin-right: 30px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      transition: all linear .2s;
      &:hover {
        color: var(--color-red);
      }
      &:last-child {
        margin-right: 0;
      }
      &--color {
        &-grayish-purple {
          background-color: var(--color-grayish-purple);
          border-radius: 44px;
          margin-left: 15px;
        }
      }
    }
    &-link {
      &--size {
        &-small {
          font-size: 14px;
          line-height: 20px;
          padding: 8px 17px;
        }
      }
    }
  }
  &__group {
    display: flex;
    &-link {
      margin-right: 25px;
      transition: all linear .2s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: var(--color-red);
      }
    }
  }
  &__auth {
    display: flex;
    align-items: center;
    &-userpic {
      max-width: 48px;
      border-radius: 50%;
      margin-right: 15px;
    }
    &-link {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: var(--color-grayish-purple);
      border-radius: 50%;
      transition: all linear .2s;
      &::before {
        content: attr(data-count);
        position: absolute;
        top: -3px;
        right: 0;
        min-width: 20px;
        min-height: 20px;
        white-space: nowrap;
        border-radius: 50%;
        background-color: var(--color-red);
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: var(--color-white);
        text-align: center;
      }
      &:hover {
        background-color: var(--color-red);
      }
    }
    &-user {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
  }
}
.icon-envelope {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
.icon-arrow-down {
  width: 12px;
  height: 8px;
  fill: var(--color-white);
}
.icon-phone {
  width: 18px;
  height: 18px;
  fill: var(--color-white);
}
.icon-marker {
  width: 14px;
  height: 20px;
  fill: var(--color-white);
}
.icon-arrow-right {
  width: 12px;
  height: 14px;
  fill: var(--color-white);
}
.icon-like {
  width: 18px;
  height: 18px;
  fill: var(--color-white);
}
.icon-dislike {
  width: 18px;
  height: 18px;
  fill: var(--color-white);
}
.icon-upload {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}
.icon-file {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
.icon-heart-1,
.icon-heart-2{
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
.icon-delete {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
.icon-comment {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
.icon-close {
  width: 8px;
  height: 8px;
}
@media (max-width: 1250px) {
  .header__menu--center {
    margin-left: 0;
    margin-right: auto;
  }
  .header {
    &--big {
      .header__menu-item {
        margin-right: 0;
        margin-left: 20px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .header {
    &--big {
      .header__menu-item {
        font-size: 15px;
      }
    }
    }
}