article.news__preview
    img(src="static/images/content/news/news-image-1.jpg").news__preview-thumbnail
    .news__preview-box
        .news__preview-head
            .news__preview-subtitle baseline test
            a(href="#").news__preview-title A Blood Black Began to Spin, Let’s Move
        .news__preview-main
            span.news__preview-desc Is there anything in your body that wants to resist the system? System. Do you get pleasure out of being a part of the system? System.
        .news__preview-footer
           a(href="#").news__preview-link.link Читать
           time(datetime="2020-06-19 14:54:39").news__preview-day Jun 19